body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.inline {
  display: inline-block;
}


.ui.modal {
  position: relative !important;
}

.stickyContainer {
  width: 85% !important;
  margin-top: 6em !important;
}

.stickySideBar {
  position: fixed;
  z-index: 101;
}

.stickyMenu{
  position: fixed;
  top: 0;
  width: 85%;
  z-index: 101;
}

.normalMenu{
  top: 0;
  margin-top: -6em !important;
  margin-bottom: 1em !important;
  z-index: 101;
}
.ui.card>:last-child, .ui.cards>.card>:last-child{
  margin-top: 0;
}
